<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box 생성</title>
    <script>
        function validateDates() {
            var startDate = document.getElementById("eventStartDate");
            var endDate = document.getElementById("eventEndDate");

            // 시작 날짜가 변경될 때 종료 날짜의 최소값을 시작 날짜로 설정
            if (startDate.value) {
                endDate.min = startDate.value;
            }

            // 종료 날짜가 변경될 때 시작 날짜의 최대값을 종료 날짜로 설정
            if (endDate.value) {
                startDate.max = endDate.value;
            }
        }
    </script>
</head>
<body>
    <h2>Box</h2>
    <form action="/box" method="post" onsubmit="validateDates()">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="Box 이름을 입력해주세요." required>
        <br><br>

        <label>모임 날짜</label>
        <br>
        <label for="eventStartDate">시작 날짜</label>
        <input type="date" id="eventStartDate" name="eventStartDate" required onchange="validateDates()">

        <label for="eventEndDate">끝 날짜</label>
        <input type="date" id="eventEndDate" name="eventEndDate" required onchange="validateDates()">
        <br><br>

        <button type="submit">생성</button>
    </form>
</body>
</html>